/* CSS declarations go here */
html {
background: #f06;
background: linear-gradient(45deg, #f06, yellow);
height: 100%; 
}

body {
background: #f06;
background: linear-gradient(45deg, #f06, yellow);
min-height: 100%; 

}


.ui.segment {
background-color: transparent;
min-height: 100%; 

}

.ui.vertical.menu{
	background-color: transparent;
}

.ui.menu {
background-color: transparent;
/*min-height: 100%;*/ 
}
.page-wrap{
	min-height: 100%;
}

main {
	height: 92vh;
}